@import "../base/variables";

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #00416a, #e4e5e6);
    color: $colorBlanco;
    height: 100vh;
    overflow: hidden;
    padding-left: 4rem;
    padding-right: 4rem;

    .contactoText{
    margin-bottom: 3rem;
    }
  }
  