footer {
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(360deg, #141e30 0%, #243b55 169.17%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;

    .buttons {
        font-size: 50px;
        margin-top: 15px;
        margin-bottom: 15px;
      }

      .buttons a {
        text-decoration: none;
        margin: 0 25px;
        text-align: center;
        color: white;
        text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.67);
        transition: all 0.4s ease-in-out;
      }

      .buttons a:hover {
        transform: scale(1.2);
        color: #b1b1b1;
      }

      .textoRedes{
        margin-top: 20px;
      }
      
  }