#miMusica {
    background: linear-gradient(to right, #ed213a, #93291e);
    /* height: 100vh; */

    .textMusic {
        padding-top: 65px;
      }

      .spotify {
        margin-top: 30px;
      }
      
  }