@import "../base/variables";

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 5em;
}

p {
    text-shadow: $sombraTexto;
    color: $colorBlanco;
}

h2 {
    text-shadow: $sombraTexto;
    color: $colorBlanco;
}
